---
layout: default
---

<div class="home">

<h3>
  Cordwainer is a set of tutorials about how Shoes works from heel to toe, frontend to backend<i>s</i>, <code>do</code> to <code>end</code>.
  For now they will just be in the order I write them, but if you can think of a better way to lay them out, or this site, then please feel free to talk to me about it at <a href="https://github.com/KCErb/cordwainer">the repo</a>.
</h3>

<h1>
  The Tutorials
</h1>

<div class="trigger">
  {% assign pages = site.pages | sort:"title" %}
  {% for page in pages %}
  {% if page.title %}
  <div>
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  </div>
  {% endif %}
  {% endfor %}
</div>

</div>
