---
layout: default
---

<div class="home">

<h3>
  Cordwainer is my notes on how Shoes works.
  They are written in the style of a tutorial because I learn best when I teach.
  The goal of these notes/ tutorials is to learn how Shoes works from heel to toe,
  frontend to backend<i>s</i>, <code>do</code> to <code>end</code>.

  Please feel free to comment on inaccuracies, typos or anything else, I'd love to improve these!
</h3>

<h2>
  Executables
</h2>

  Let's start off by looking at all of the executables that Shoes provides.
  Understanding the entry point for a program or spec should help put everything
  else we do into a common perspective. I also found that digging through some of the
  nuts and bolts here helped me become more familiar with common tools from he Ruby
  developer's toolkit such as RSpec, Rake, and Rubygems.

<div class="trigger">
  {% assign pages = site.pages | sort:"title" %}
  {% for page in pages %}
  {% if page.category == 'executables' %}
  <div>
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  </div>
  {% endif %}
  {% endfor %}
</div>

<br>

<h2>
  TDT
</h2>

With the executables explained, I'd now like to dive into what I call Test Driven Tutorials.
The plan is to go through the codebase file by file on a guided tour using the tests to chart a course.
If you're not super familiar with RSpec, it's a good idea to read around online to get acquainted but don't worry
too much about that. In my opinion, RSpec is the sort of tool that you learn by doing and observing more than
by study. That means in the first few tutorials, I'll spend time explaining some of the basics of RSpec
such as what we're doing in the tests and why.
<br>
As usual, if you see something that doesn't make sense, ask me and I'll include it in the tutorials. I'm not
afraid of these being too basic so much as I'm afraid of them leaving someone behind.

<br>
<br>

<h3>
  Core
</h3>

<div class="trigger">
  {% assign pages = site.pages | sort:"title" %}
  {% for page in pages %}
  {% if page.category == 'tdt-core' %}
  <div>
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  </div>
  {% endif %}
  {% endfor %}
</div>

</div>
